@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: darkgray;
        box-sizing: border-box;
    }

    .card {
        width: 400px;
        justify-content: center;
        align-content: center;
        background-color: azure;
        box-shadow: 2px 2px 2px;
    }

    .card-header {
        background-color: darkblue;
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 8px;
    }

    .card-body {
        text-align: center;
        margin: 5px;
        padding: 10px;
        font-size: 16px;
    }

</style>

<div class="body">
    <div class="card">
        <div class="card-header">Register Page</div>
        <div class="card-body">
            <p>This is <strong>register</strong> page.Just for practicing to add custome layout page 😍.</p>
        </div>
    </div>
</div>


