@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Name=>@ViewBag.Name</h4>
<h4>Address=>@ViewBag.Add</h4>
<h4>Course=>@ViewBag.Cors</h4>


