@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form name="frm" action="ProductController1/ShowData" method="post">
        <div>
            <input type="text" name="pname" placeholder="Enter product name here.." />
        </div>
        <div>
            <input type="text" name="pcode" placeholder="Enter pcode here.." />
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>
